node_modules
coverage
npm-debug.log
yarn-error.log
*.tsbuildinfo
!examples/cats/declaration.d.ts
*.d.ts

# Editor and other tmp files
*.swp
*.un~
*.iml
*.ipr
*.iws
*.sublime-*
.idea/
*.DS_Store

# Build directories (Will be preserved by npm)
dist
build
/style.css
/style.css.map
.cache
.parcel-cache
.rollup.cache
