@keyframes closeWindow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ril-outer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril-outer-closing {
  opacity: 0;
}

.ril-image,
.ril-image-prev,
.ril-image-next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril-image-discourager {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ril-nav-buttons {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 34px;
  padding: 40px 30px;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
}
.ril-nav-buttons:hover {
  opacity: 1;
}
.ril-nav-buttons:active {
  opacity: 0.7;
}

.ril-prev-button {
  left: 0;
  background: rgba(0, 0, 0, 0.2)
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==')
    no-repeat center;
}

.ril-next-button {
  right: 0;
  background: rgba(0, 0, 0, 0.2)
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+')
    no-repeat center;
}

.ril-download-blocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  background-size: cover;
}

.ril-bottom-bar,
.ril-toolbar {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

.ril-bottom-bar {
  bottom: 0;
  max-height: 150px;
  overflow: auto;
}

.ril-toolbar {
  top: 0;
  height: 50px;
}

.ril-toolbar-side {
  height: 50px;
  margin: 0;
}

.ril-toolbar-left {
  padding-left: 20px;
  padding-right: 0;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ril-toolbar-right {
  padding-left: 0;
  padding-right: 20px;
  flex: 0 0 auto;
}

.ril-toolbar-item {
  display: inline-block;
  line-height: 50px;
  padding: 0;
  color: #fff;
  font-size: 120%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ril-toolbar-item-child {
  vertical-align: middle;
}

.ril-builtin-btn {
  width: 40px;
  height: 35px;
  cursor: pointer;
  border: none;
  opacity: 0.7;
}
.ril-builtin-btn:hover {
  opacity: 1;
}
.ril-builtin-btn:active {
  outline: none;
}

.ril-builtin-btn-disabled {
  cursor: default;
  opacity: 0.5;
}
.ril-builtin-btn-disabled:hover {
  opacity: 0.5;
}

.ril-close {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=')
    no-repeat center;
}

.ril-zoom-in {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PHBhdGggZD0iTTEyIDV2NiIvPjwvZz48Y2lyY2xlIGN4PSIxMiIgY3k9IjgiIHI9IjciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+')
    no-repeat center;
}

.ril-zoom-out {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PC9nPjxjaXJjbGUgY3g9IjEyIiBjeT0iOCIgcj0iNyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=')
    no-repeat center;
}

.ril-outer-animating {
  animation-name: closeWindow;
}

@keyframes pointFade {
  0%,
  19.999%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.ril-loading-circle {
  width: 60px;
  height: 60px;
  position: relative;
}

.ril-loading-circle-point {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ril-loading-circle-point::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 11%;
  height: 30%;
  background-color: #fff;
  border-radius: 30%;
  animation: pointFade 800ms infinite ease-in-out both;
}
.ril-loading-circle-point:nth-of-type(1) {
  transform: rotate(0deg);
}
.ril-loading-circle-point:nth-of-type(7) {
  transform: rotate(180deg);
}
.ril-loading-circle-point:nth-of-type(1)::before,
.ril-loading-circle-point:nth-of-type(7)::before {
  animation-delay: -800ms;
}
.ril-loading-circle-point:nth-of-type(2) {
  transform: rotate(30deg);
}
.ril-loading-circle-point:nth-of-type(8) {
  transform: rotate(210deg);
}
.ril-loading-circle-point:nth-of-type(2)::before,
.ril-loading-circle-point:nth-of-type(8)::before {
  animation-delay: -666ms;
}
.ril-loading-circle-point:nth-of-type(3) {
  transform: rotate(60deg);
}
.ril-loading-circle-point:nth-of-type(9) {
  transform: rotate(240deg);
}
.ril-loading-circle-point:nth-of-type(3)::before,
.ril-loading-circle-point:nth-of-type(9)::before {
  animation-delay: -533ms;
}
.ril-loading-circle-point:nth-of-type(4) {
  transform: rotate(90deg);
}
.ril-loading-circle-point:nth-of-type(10) {
  transform: rotate(270deg);
}
.ril-loading-circle-point:nth-of-type(4)::before,
.ril-loading-circle-point:nth-of-type(10)::before {
  animation-delay: -400ms;
}
.ril-loading-circle-point:nth-of-type(5) {
  transform: rotate(120deg);
}
.ril-loading-circle-point:nth-of-type(11) {
  transform: rotate(300deg);
}
.ril-loading-circle-point:nth-of-type(5)::before,
.ril-loading-circle-point:nth-of-type(11)::before {
  animation-delay: -266ms;
}
.ril-loading-circle-point:nth-of-type(6) {
  transform: rotate(150deg);
}
.ril-loading-circle-point:nth-of-type(12) {
  transform: rotate(330deg);
}
.ril-loading-circle-point:nth-of-type(6)::before,
.ril-loading-circle-point:nth-of-type(12)::before {
  animation-delay: -133ms;
}
.ril-loading-circle-point:nth-of-type(7) {
  transform: rotate(180deg);
}
.ril-loading-circle-point:nth-of-type(13) {
  transform: rotate(360deg);
}
.ril-loading-circle-point:nth-of-type(7)::before,
.ril-loading-circle-point:nth-of-type(13)::before {
  animation-delay: 0ms;
}

.ril-loading-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ril-image-prev .ril-loading-container,
.ril-image-next .ril-loading-container {
  display: none;
}

.ril-error-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.ril-image-prev .ril-error-container,
.ril-image-next .ril-error-container {
  display: none;
}

.ril-loading-container-icon {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ril-outer {
  display: flex;
  flex-direction: column;
}

.ril-inner {
  flex: 1;
  position: relative;
}

.ril-toolbar,
.ril-bottom-bar {
  z-index: 1001;
}

.ril-bottom-bar {
  color: #fff;
  padding: 0 10px;
}
